[Desktop Entry]
Type=Application
Name=Astromenace
Exec=astromenace
Comment=3D Space Shooter
Icon=astromenace
Terminal=false
Categories=Game;ArcadeGame;
StartupNotify=false
